<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Permissions for SMS -->
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>

    <!-- Permissions for Phone State -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    
    <!-- Permissions for Contacts -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <!-- Android 13 (SDK 33+) New SMS Permission -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- Allow device to detect messaging apps -->
    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO"/>
            <data android:scheme="sms"/>
        </intent>
    </queries>

    <application android:name="${applicationName}" android:label="Krishi_Raksha" android:icon="@mipmap/ic_launcher">

        <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTop" android:taskAffinity="" android:theme="@style/LaunchTheme" android:hardwareAccelerated="true" android:windowSoftInputMode="adjustResize" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode">

            <meta-data android:name="io.flutter.embedding.android.NormalTheme" android:resource="@style/NormalTheme"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data android:name="flutterEmbedding" android:value="2"/>
    </application>

</manifest>
